.blog-card {
  width: 364px;
  height: 504px;
  display: flex;
  align-items: flex-end;
}

.blog-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 45%;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.blog-section > h1 {
  color: #fff;
}

.blog-container {
  width: 1132px;
  margin-inline: auto;
  margin-top: 90px;
}

.blog-container > div {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
