.blog-card {
  width: 364px;
  height: 504px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.blog-section > div {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.blog-section > p {
  color: #fff;
  font-size: 20px;
  padding: 15px;
  padding-bottom: 35px;
}

.blog-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-section > div > p {
  color: #fff;
}

.blog-section > div > a {
  color: #fff;
  text-decoration: none;
}

.blog-section > h1 {
  color: #fff;
  padding: 15px;
}

.blog-container {
  width: 1132px;
  margin-inline: auto;
  margin-top: 90px;
}

.blog-container > div {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 140px;
}

.blog-container > a {
  text-decoration: none;
}
